@import url('https://fonts.cdnfonts.com/css/blacksword');
    /*
    Azul
    #06C

    Celeste
    #0CF 

    Menta
    #0FC

    Verde 
    #0C9
    */
/*    -------------------------     MOBILE     -------------------------     */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Bienvenida.css */
.bienvenida-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Un valor alto para asegurarse de que esté por encima de otros elementos */
  backdrop-filter: blur(10px); /* Ajusta la cantidad de desenfoque según tus preferencias */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.5); /* Ajusta el color de fondo y la opacidad según tus preferencias */
}


.bienvenida {
  text-align: center;
  padding: 20px;

}

.bienvenida h1 {

  position: fixed;
  left: 25px; /* Ajusta la posición vertical según tus necesidades */

  top: 200px; /* Ajusta la posición vertical según tus necesidades */
  color: #FFF !important;
  font-family: 'Blacksword', sans-serif;
  font-size: 2em !important;
  transform: translateX(0px); /* Opcional: Puedes ajustar la posición inicial del texto */
  animation: fadeIn1 2s ease-in-out; /* Ajusta la duración y la curva de la animación según tus necesidades */

}

.bienvenida h2 {

  position: fixed;
  left: 25px; /* Ajusta la posición vertical según tus necesidades */
  color: #FFF !important;
  top: 75px; /* Ajusta la posición vertical según tus necesidades */
  font-size: 2em !important;
  transform: translateX(20px); /* Opcional: Puedes ajustar la posición inicial del texto */

  animation: fadeIn2 2s ease-in-out; /* Ajusta la duración y la curva de la animación según tus necesidades */
}


.logoGobBienvenida{
  animation: fadeIn 3s ease-in-out; /* Animación de 3 segundos para el cambio de tamaño */
  width: 300px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto; /* Mantiene la proporción del logo */
}

.spinInicio{
  position: fixed;
  bottom: 100px ;
  text-align: center;
  font-size: 5em;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px); /* Opcional: Ajusta la posición inicial del texto */

  }
  to {
    transform: translateY(0px); /* Opcional: Ajusta la posición inicial del texto */

      opacity: 1;
  }
}
@keyframes fadeIn1 {
  from {
      opacity: 0;
      transform: translateX(20px); /* Opcional: Ajusta la posición inicial del texto */

  }
  to {
      opacity: 1;
      transform: translateX(0px); /* Opcional: Ajusta la posición inicial del texto */

  }
}
@keyframes fadeIn2 {
  from {
    transform: translateX(0px); /* Opcional: Ajusta la posición inicial del texto */

      opacity: 0;
  }
  to {
    transform: translateX(20px); /* Opcional: Ajusta la posición inicial del texto */
      opacity: 1;
  }
}

.fade-in-on-scroll {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-from-bottom {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.fade-in-on-scroll.visible .fade-in-from-bottom {
  transform: translateY(0);
}

/*    -------------------------     LAPTOP     -------------------------     */

@media screen and (min-width: 768px) {
  .header .container{
    margin: 0!important; /* Esto centra el contenido en la pantalla */
    max-width: 100%!important;
  }

  .body{
    height: 100px;
    width: 70%!important;
    margin: auto; /* Esto centra el contenido en la pantalla */
  }



}